body {
    overflow-x: hidden;
}

.style-nav-pills-bod .nav-item .nav-link.active,
.style-nav-pills .nav-item .nav-link:hover {
    color: #EE6D22;
    border-radius: 10px;
    background: radial-gradient(60.19% 64.45% at 50% 128.33%, #EE6D22 0%, rgba(238, 109, 34, 0.00) 100%);
}

.style-nav-pills-bod .nav-item .nav-link {
    font-size: 16px;
    font-weight: 600;
    color: #C0BEBE;
    background-color: #fff;
    border-radius: 0;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}

.director-image {
    transition: filter 0.5s;
}

.desc-shareholder {
    font-size: 1.5rem !important;
    font-weight: 500;
}

.wrap-shareholders {
    display: flex;
    align-items: center !important;
}

/* .director-image:hover {
    filter: drop-shadow(20px 4px 4px #2F7649);
} */

@media screen and (max-width: 500px) {
    .desc-shareholder {
        font-size: 0.7rem !important;
    }

    .wrap-shareholders {
        display: inline-flex;
        align-items: center;
    }

    .style-nav-pills-bod .nav-item .nav-link {
        width: 100% !important;
    }

    .commis-name {
        font-size: 15px;
    }

    .corp-name {
        font-size: 11px;
    }

    .director-title {
        font-size: 15px;
    }

    .director-name {
        font-size: 13px;
    }

    .director-corp {
        font-size: 11px;
        font-weight: 500;
    }

    .bod-title-text {
        font-size: 22px;
        text-align: center;
    }

    .shareholders-title-text {
        font-size: 19px;
    }
}

@media screen and (max-width: 550px) {}

@media screen and (max-width: 765px) and (min-width: 401px) {}

@media screen and (max-width: 650px) and (min-width: 402px) {
    .style-nav-pills-bod .nav-item .nav-link {
        width: 100% !important;
    }

    .commis-name {
        font-size: 15px;
    }

    .corp-name {
        font-size: 11px;
    }

    .director-title {
        font-size: 15px;
    }

    .director-name {
        font-size: 13px;
    }

    .director-corp {
        font-size: 11px;
        font-weight: 500;
    }

    .bod-title-text {
        font-size: 22px;
        text-align: center;
    }

    .shareholders-title-text {
        font-size: 22px;
    }
}


@media screen and (max-width: 800px) {}




.style-background-director-image {
    width: 260px;
    background: linear-gradient(#0F3985, #4767A4, #9BAED7);
    border-radius: 50%;
}

.style-background-director-image img {
    width: 260px;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}

@media screen and (max-width: 1265px) and (min-width: 501px) {
    .style-background-director-image {
        width: 220px;
    }

    .style-background-director-image img {
        width: 220px;
    }
}

@media screen and (max-width: 500px) {
    .style-background-director-image {
        width: 200px;
    }

    .style-background-director-image img {
        width: 200px;
    }
}

.style-bg-dot {
    position: relative;
}

.style-bg-dot .tab-content>div>div>div {
    z-index: 10;
}

.style-bg-dot::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 25%;
    height: 100%;
    z-index: 0;
    background-size: contain;
    background-image: url('../../images/board-of-director/group-dots-orange.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

.style-bg-dot::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;
    z-index: 1;
    background-size: contain;
    background-image: url('../../images/board-of-director/group-dots-green.png');
    background-repeat: no-repeat;
}

.style-bg-abstract {
    position: relative;
}

.style-bg-abstract .tab-content>div>div>div {
    z-index: 10;
}

.style-bg-abstract::before {
    content: '';
    position: absolute;
    left: -200px;
    bottom: 600px;
    width: 40%;
    height: 100%;
    z-index: 0;
    background-size: contain;
    background-image: url('../../images/board-of-director/bg-abstarct.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

.style-bg-abstract::after {
    content: '';
    position: absolute;
    right: -100px;
    top: -100px;
    width: 40%;
    height: 100%;
    z-index: 1;
    background-size: contain;
    background-image: url('../../images/board-of-director/bg-abstarct.png');
    background-repeat: no-repeat;
}